# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle
build.gradle
changelog.txt
gradle.properties
gradlew
gradlew.bat

# other
eclipse
run
run-data
.vscode
.git.old

# Files from Forge MDK
forge*changelog.txt
